<a href="https://colab.research.google.com/github/BETTYBETS/Day-3-WTM-GDG-Bambili-100-Days-of-Code-Datascience/blob/main/Day_3_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
answer=1+1

In [3]:
print(answer)

2

In [4]:
var1=2+2
# var1 is and interger data type
print(var1)

4

In this cell the value of 2+2 is assigned to var1

In [5]:
var2=3+2/5
# var2 is a float data type
print(var2)

3.4

In this cell the value of 3+2/5 is assigned to var2

In [22]:
var3=4*16
print(var3)
#var3 is an interger data type

64

In this cell the value of 4*16 is assigned to var3

In [25]:
var4=4**16
print(var4)
#var4 is an interger data type

4294967296

In this cell the value of 4**16 is assigned to var4

In [19]:
var5='Hello' +''+' Hello'
print(var5)
#var5 is a string data type

Hello Hello

In this cell the value of 'Hello' +''+' Hello' is assigned to var5

In [20]:
var6='Hello World' * 5
print(var6)
#var6 is a string data type

Hello WorldHello WorldHello WorldHello WorldHello World

In this cell the value of 'Hello World'*5 is assigned to var6

In [28]:
var7=4%3
print(var7)
# var7 is an interger data type

1

In this cell the value of 4%3 is assigned to var7